@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
    --background-color: #f2f2f2;
    --color-botao: #4CAF50;
    --color-botao-hover: #45a049;
    --font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nao-encontrado {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 50px;
    margin-top: 20px;
}

p {
    margin-top: 30px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color-botao);
    color: var(--background-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: var(--color-botao-hover);
}