@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
    --color-cabecalho-texto: #111;
    --color-cabecalho-texto-hover: #f7cf50;
    --color-sombra: rgba(0, 0, 0, 0.1);
    --background-color-branco: #fff;
    --background-color: #f2f2f2;
    --background-color-produto: #fefefe;
    --color-branco: white;
    --color-produto-detalhe-text: #030200;
    --color-miniaturas-borda: #007bff;
    --color-botao: #4CAF50;
    --color-botao-hover: #45a049;
    --font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
}

header {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background: transparent;
    transition: all .35s ease;
    background-color: var(--background-color-branco);
    padding: 14px 14%;
}

.logo {
    font-weight: 500;
    font-size: 1rem;
}

.cabeçalho-link a {
    color: var(--color-cabecalho-texto);
    font-weight: 700;
    transition: 0.3s;
}

.cabeçalho-link ul li {
    display: inline-block;
    margin-right: 10px;
}

.cabeçalho-link a:hover {
    color: var(--color-cabecalho-texto-hover);
}

.container-produto-detalhe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px auto 0 auto;
    padding: 20px;
    max-width: 90%;
    box-sizing: border-box;
    background-color: var(--color-branco);
    box-shadow: 0 0 10px var(--color-sombra);
}

.produto-img {
    display: flex;
    align-items: flex-start;
}

.produto-img img {
    max-width: 100%;
    height: auto;
    padding: 26px;
    background-color: var(--background-color-produto);
}

.produto-detalhe {
    padding: 80px;
}

.produto-detalhe h1 {
    font-size: 30px;
    margin-bottom: 45px;
}

.produto-detalhe h5 {
    font-size: 18px;
    margin-bottom: 40px;
}

.produto-detalhe h3 {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-produto-detalhe-text);
    margin-bottom: 20px;
}

#imagem-principal {
    flex: 1;
    max-width: 70%;
    margin-right: 20px;
}

.miniaturas {
    display: flex;
    flex-direction: column;
}

.miniaturas img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.miniaturas img:hover {
    border-color: var(--button-hover-color);
}

.miniaturas img.ativo {
    border-color: var(--color-miniaturas-borda);
}

.btn-comprar {
    display: inline-block;
    background-color: var(--color-botao);
    color: var(--background-color-branco);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-comprar:hover {
    background-color: var(--color-botao-hover);
}